body {
    background-color: azure;
}

.container {
    margin-top: 30px;
    width: 100%;
    max-width: 950px;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: cursive;
    letter-spacing: 5px;
    font-size: 80px;
    font-weight: bold;
    color: rgb(19, 19, 218);
    text-align: center;
}

#add-todo-form input {
    border-color: rgb(19, 19, 218);
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 10px;
}

#add-todo-form input:hover {
    background-color: rgb(185, 229, 247);
    border-color: rgb(19, 19, 218);
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 10px;
}

#add-todo-form button {
    background-color: rgb(185, 229, 247);
    border-color: rgb(19, 19, 218);
    border-radius: 10px;
    margin-left: 3px;
    margin-top: 0px;
    margin-bottom: 4px;
    flex-shrink: 0;
    width: auto;
}

#add-todo-form button:hover {
    background-color: rgb(185, 217, 247);
    border-color: rgb(19, 19, 218);
    border-radius: 10px;
    margin-left: 3px;
    margin-top: 0px;
    margin-bottom: 4px;
    flex-shrink: 0;
    width: auto;
}

.newToDo {
    height: 40px;
}

.newToDo-input {
    flex-grow: 1;
    align-items: center;
}

.newToDo-input form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#lista {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    border-color: rgb(19, 19, 218);
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 30px 0px rgb(0, 0, 0, 0.45);
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
}

.col-1 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-11 {
    width: 90%;
}

.texto {
    margin-left: 10px;
}

p {
    margin: 0px;
}

.check {
    width: px;
}

.check-mark {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(19, 19, 218);
    cursor: pointer;
    transform: all 0.25s;
}

.check-mark:hover {
    border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);   
}