body {
    background-color: azure;
}

.container {
    background-color: rgb(255, 255, 60);
    margin-top: 30px;   
    width: 100%;
    max-width: 1000px;
}

h1 {
    font-family: cursive;
    letter-spacing: 5px;
    font-size: 80px;
    font-weight: bold;
    color:rgb(19, 19, 218);
    text-align: center;
}

/*
#lista {
    text-align: justify;
    justify-content: center;
    margin-top: 30px;
    border-color:rgb(19, 19, 218);
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    padding: 20px;
}
*/